@import '../../root.css';


.hero{
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.menu-image {
    position: absolute; /* Set the position to fixed */
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1; /* Set a lower z-index to send it to the back */
}


.hero-container {
    background-color: rgb(173, 163, 149);
    flex: 1;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    height: 100%;

}

.header {
    padding: 64px;
    color: var(--two);
}






